/* Reset styles */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color:#adefda27 ;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4f4;
  }
  
  header {
    background: #5fdaad;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    margin-top: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 20px;
    background: #96f47ccf;
    color: #1b1e1d;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #555;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
